 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
 <div class=title>
   <h2><%= @subject.name %></h2>
   <a href="/subjects">⇦ 科目選択に戻る</a>
 </div>
    <form action="/new" method="POST" enctype="multipart/form-data" class=form>
        <p>本文:<input type="text" name="body"></p>
        <p>タグ:<input type="text" name="tag"></p>
        <p><input type="file" name="file"></p>
        <p><input type="hidden" name="subject_id" value=<%= @subject.id %>></p>
        <input type="submit" value="POST">
    </form>
            
<div>
    <% @contents.each do |content| %>
    <div class="card">
        <h3 class="question"><%= content.body %></h3>
        <ul class="tag-container">
            <% content.tags.each do |tag| %>
            <li  class="tag">
                #<%= tag.name %>
            </li>
            <% end %>
        </ul>
        <% unless content.image.empty? %>
        <p><img src="<%= content.image %>" width="100vw"></p>
        <% end %>
    </div>
    <% end %>
</div>


